<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<title>Layout page</title>
</head>

<body>

	<div th:replace="fragments/navigation :: navigation"></div>

	<div class="container" id="mainContent">
		<p th:text="${message}"></p>
		<div class="content" layout:fragment="content"></div>

	</div>


	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
</body>
</html>