<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PDF Gen Database</title>



<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>
<body>
<a href="/login/create-user-form">Create New User Here</a>

	
	<form action="#" th:action="@{user-login}" th:object="${user}" method="POST" >
		<h2 class="form-heading">User Login</h2>
		<input type ="text" th:field="*{username}" placeholder="Username" autofocus="true" />
		<br>
		<br> 
		<input type ="password" th:field="*{password}" placeholder="Password" />
		<br> 
		<br> 
		<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
	</form>
	<br>

	<a href="/">HOME</a>
</body>
</html> 